.sectionRow{
  display: flex;
  flex-wrap: wrap;
}
.sectionColumn{
  flex: 50vw;
  max-width: 50vw;
}
.sectionHeading{
  display: block;
  
  font-size: 4.5em;
  font-family: Equinox;
  margin-bottom: 1vh; 
}
.sectionContentRight{
  max-width: 30vw;
}
.sectionContentLeft{
  max-width: 40vw;
  margin-left: auto;
}
.openRight{
  letter-spacing: -20px;
  -webkit-animation: openRight 2s ease-out;
  -moz-animation: openRight 2s ease-out;
  -ms-animation: openRight 2s ease-out;
  animation: openRight 2s ease-out;
  animation-fill-mode: forwards;
}

#sparkSaxo{
  width: 33vw;
  height: auto;
  position: absolute;
  left: 0vw;
  transition: all 0.2s ease;
}
#sparkDrum{
  width: 15vw;
  position: absolute;
  left: -5vw;
  top: 45vh;
  transition: all 0.2s ease;
}
#sparkTunes{
  width: 25vw;
  position: absolute;
  left: 15vw;
  top: 45vh;
  transition: all 0.2s ease;
}
.sparkImages{
  width: auto;
  height: auto;
  position: absolute;
  left: 57vw;
}

.footerLinks span{
  display: inline-block;
  width: 25vw;
  margin: 0 auto;
  font-size: 2em;
  border: 1px solid;
  padding: 1%;
}



.footerLinks span:hover{
  background-color: #ffffff;
  color: #000;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.footerLinks span a:hover{
  background-color: #ffffff;
  color: #000;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.contentLink{
  font-size: 1.5em;
  text-align: right;
  max-width: 30vw;
  text-transform: uppercase;
  font-family: sans-serif;
  padding-top: 2vh;
}

.contentLink:hover{
  cursor: pointer;
}
.socialLinks{
  margin-top: 5vh;
}
.socialLinks i{
  font-size: 2.5em;
  /* border: 1px solid; */
  padding: 20px;
  border-radius: 0%;
  margin-right: 2vw;
  width: 60px;
  border-bottom: 1px solid transparent;
  transition: all 1s ease-in-out;
}
.socialLinks i:hover{
  cursor: pointer;
  border-bottom: 1px solid;
}
.socialLinks a, .footerLinks a{
  color: #ffffff;
}

.asteroid{
  position: absolute;
  right: 0vw;
  top: 40vh;
  width: 8vw;
  filter: brightness(200%);
  /* right: 13vw; */
  transform: rotate(-40deg);
  opacity: 0;
}

.asteroid-animate{
  animation: asteroid 0.8s;
}
@keyframes openRight {
    from { letter-spacing: -20px; }
    to   { letter-spacing: 0px; }
}
@keyframes asteroid {
  0%{
    opacity: 0.5;
    left: 90vw;
    
  }
  90%{
    /* transform: translateX(-50vw);
    transform: translateY(80vh); */
    opacity: 1;
    transform: translate(-60vw, 80vh) rotate(-40deg);
  }
  100%{
    opacity: 0;
  }
}

#footer div#contact{
  position: relative;
  top: 10vh;
  font-size: 2.6vh;
}

#footer div#contact span.email{
  margin: 1vh 0;
  font-size: 2.2vh;
}

#footer div#contact span.email a:hover{
  color: #00d2ff;
  cursor: pointer;
}


#footer div#contact span.email a{
  text-decoration: none;
  color: #fff;
}


.spinner{
  width: 80px;
  height: 80px;
  
  border: 2px solid #38dbff;
  border-top:3px solid #014b5c;
  border-radius: 100%;
  
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  margin: auto;
  
  animation: spin 1s infinite linear;
}

.img-inside{

  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  margin: auto;
}

@keyframes spin {
  from{
      transform: rotate(0deg);
  }to{
      transform: rotate(360deg);
  }
}


@media(orientation:portrait)
{
  .contentLink{
    font-size: 1em;
    margin-left: auto;
  }
  .sparkImages {
      width: auto;
      height: auto;
      position: absolute;
      left: 10vw;
      top: 15vh;
  }
  .footerLinks span{
    width: 90vw;
    margin: 0 auto;
    font-size: 2em;
  }
  #sparkSaxo{
    width: 85vw;
    left: 4vw;
    position: relative;
  }
  #sparkDrum{
    width: 40vw;
    /* width: 10vw; */
    top: 40vh;
  }
  #sparkTunes{
    width: 55vw;
    left: 35vw;
    top: 35vh;
  }
  .sectionHeading{
    text-align: center;
    font-size: 2.5em;
  }
  .sectionContentRight{
    max-width: 100vw;
  }

  .sectionContentLeft{
    max-width: 90vw;
  }

}