html { scroll-behavior: smooth; }
a { text-decoration: none; }
#home1 {height: 100vh; width: 100vw; background-image: url('../images/image.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;}
.w3-bar-item img {filter: invert(99%);}

#archinova { background: rgb(20,20,20); }
#archinova p { color: rgb(230,230,230); }
#archinova button { background: rgb(230,230,230); }
.section { width: 100vw; height: 100vh; position: relative; z-index: 0; }
.section-content {width: 800px;}
.section-content h1 {margin-bottom: 36px!important;}

#myCityModal h3 { font-weight: bold; }
#archinovaModal h3 { font-weight: bold; }
@media screen and (max-width: 880px) {
	.section-content {width: 85%;}
}

@media screen and (max-width: 670px) {
	#home1 img { width: 100%!important; height: auto;}
}

@media screen and (max-width: 480px) {
	.section-content h1 {font-size: 32px!important; }
	.section-content p { font-size: 16px!important; }
}